body {
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  font: ariel;
  border: 1px solid black;
  padding: 20px, 20px, 20px;
  font-size: 20px;
  color: white; 
  background-color: rgb(189, 49, 49);
}

.header2 {
  text-align: right;
  font: ariel;
  background-color: rgb(65, 61, 61);
  color: white;
  word-spacing: 10px;
}

.img1 {
  width: 800px; 
  height: 600px;
}

.photoside1 {
  width: 250px;
  height: 150px;
  position: absolute;
  float: right;
  left: 30px;
  top: 100px;
}

.photoside2 {
  width: 250px;
  height: 150px;
  position: absolute;
  float: right;
  right: 30px;
  top: 100px;
}

.photoside3 {
  width: 250px;
  height: 150px;
  position: absolute;
  float: right;
  right: 30px;
  top: 350px;
}

.DAMtext {
  font: ariel;

}

.column-container {
  display: flex;
  flex-direction: column;
}

.column-left {
  display: flex;
  flex-direction: column;
}

.column-right {
  display:flex;
  flex-direction: row; 
}
















section {
  display: -webkit-flex;
  display: flex;
}
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* background: #ccc; */
  padding: 20px;
}
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}